In [1]:
import pandas, scipy, numpy, seaborn
import matplotlib, matplotlib.pyplot as plt

C:\Users\kja11\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
file_directory = "/Users/kja11/OneDrive - Menntask√Ω/PostDoc_Hypothermia/in_silico/Python/"

In [8]:
import swan_vis as swan

In [9]:
#data all_counts_filtered
df_transcripts = pandas.read_csv(file_directory+'1) input/RNAseq/transcript_HEK293_temp_all_counts_unfiltered.tsv',
                     sep = '\t')
print(df_transcripts.shape)
df_transcripts.head()

(135603, 9)

C:\Users\kja11\anaconda3\Lib\site-packages\IPython\core\formatters.py:344: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()
C:\Users\kja11\anaconda3\Lib\site-packages\IPython\core\formatters.py:344: FutureWarning: RangeIndex.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,gene_id,gene_name,feature_id,s37rep2,s32rep3,s37rep1,s37rep3,s32rep1,s32rep2
0,ENSG00000198034,RPS4X,ENST00000316084,232646,199874,190685,196125,160799,177622
1,ENSG00000142937,RPS8,ENST00000396651,191357,163277,156765,160123,133777,150626
2,ENSG00000182774,RPS17,ENST00000647841,188996,163258,157911,153051,133896,156007
3,ENSG00000229117,RPL41,ENST00000546591,182501,170503,142081,168055,126151,146154
4,ENSG00000142937,RPS8,ENST00000485390,182336,155347,148909,154214,126332,142296

In [12]:
annot_gtf = file_directory+'1) input/RNAseq/_gencode.v29.annotation.gtf'

In [10]:
sg = swan.SwanGraph()

In [ ]:
Need