In [148]:
import pybiomart

In [141]:
import pandas
import matplotlib, matplotlib.pyplot as plt

In [142]:
matplotlib.rcParams.update({'font.size':20, 'xtick.labelsize':20, 'ytick.labelsize':20, 
                            'axes.grid' : True, 'grid.alpha': 0.5, 'grid.linestyle' : ':',
                            'figure.figsize':(8, 5), 'svg.fonttype' : 'none'})

In [143]:
file_directory = "/Users/kja11/OneDrive - Menntask√Ω/PostDoc_Hypothermia/in_silico/Python/"

# II] Data Download

In [172]:
# Import data from hsapiens_gene_ensembl
dataset = pybiomart.Dataset(name='hsapiens_gene_ensembl', host='http://www.ensembl.org')
annotation = dataset.query(attributes=['external_gene_name', 'external_transcript_name', 'ensembl_gene_id', 'ensembl_transcript_id',
                                       'gene_biotype', 'transcript_biotype', 'description'])

annotation = annotation.rename(columns = {'Gene stable ID' : 'gene_id',
                                   'Transcript stable ID' : 'transcript_id'})
# annotation.set_index('Gene stable ID', inplace=True)
annotation.head(2)

,Gene name,Transcript name,gene_id,transcript_id,Gene type,Transcript type,Gene description
0,MT-TF,MT-TF-201,ENSG00000210049,ENST00000387314,Mt_tRNA,Mt_tRNA,mitochondrially encoded tRNA-Phe (UUU/C) [Sour...
1,MT-RNR1,MT-RNR1-201,ENSG00000211459,ENST00000389680,Mt_rRNA,Mt_rRNA,mitochondrially encoded 12S rRNA [Source:HGNC ...

In [175]:
#data all_counts_filtered
df = pandas.read_csv(file_directory+'1) input/HEK293_temp_transcript_all_counts_filtered.tsv',
                     sep = '\t')

df = df.rename(columns = {'feature_id' : 'transcript_id'})
# select columns
print(df.shape)
df.head()

(90972, 8)

,gene_id,transcript_id,s37rep1,s37rep2,s37rep3,s32rep1,s32rep2,s32rep3
1,ENSG00000198034,ENST00000486733,1039,1280,938,652,834,633
2,ENSG00000198034,ENST00000492695,209,202,105,66,69,46
3,ENSG00000198034,ENST00000470671,61,75,76,50,76,54
4,ENSG00000182774,ENST00000558397,59427,72460,59413,51375,60020,63185
5,ENSG00000182774,ENST00000561068,12382,15089,11258,9856,12745,12056

# III] Data transformation

In [182]:
df_anno  = pandas.merge(annotation, df, how = 'right')
print(df_anno .shape)
df_anno.head(3)

(90972, 13)

,Gene name,Transcript name,gene_id,transcript_id,Gene type,Transcript type,Gene description,s37rep1,s37rep2,s37rep3,s32rep1,s32rep2,s32rep3
0,RPS4X,RPS4X-204,ENSG00000198034,ENST00000486733,protein_coding,protein_coding_CDS_not_defined,ribosomal protein S4 X-linked [Source:HGNC Sym...,1039,1280,938,652,834,633
1,RPS4X,RPS4X-205,ENSG00000198034,ENST00000492695,protein_coding,protein_coding_CDS_not_defined,ribosomal protein S4 X-linked [Source:HGNC Sym...,209,202,105,66,69,46
2,RPS4X,RPS4X-203,ENSG00000198034,ENST00000470671,protein_coding,protein_coding_CDS_not_defined,ribosomal protein S4 X-linked [Source:HGNC Sym...,61,75,76,50,76,54

In [188]:
#they are filtered. But how? The minimum is 0
df_anno.iloc[:,7:13].min()

s37rep1    0
s37rep2    0
s37rep3    0
s32rep1    0
s32rep2    0
s32rep3    0
dtype: int64